@charset "UTF-8";

* {
    margin:0;
    padding:0;
}

body{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANElEQVQYV2NkIA5IMhKnjoEBm0JJoObn6AagK8SqCKSJkNVwjYQUwl1ANasxTMTlCdLdCABCHwYkqnVrjAAAAABJRU5ErkJggg==) repeat;
}


.main-grid {
    display: grid;
    grid-template-areas:
        "h h"
        "a m"
        "a s"
        "f f";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 36px 12fr 4fr 36px;
    grid-gap: 1px;

    height: 100%;
}

header {
    grid-area: h;
    background-color: #21211f;
}

aside {
    grid-area: a;
    background-color: #262626;
    color: #FFF;
}

main {
    grid-area: m;
    background-color: #171715;
}

section {
    grid-area: s;
    background-color: #171715;
}

footer {
    grid-area: f;
    background-color: #303030;
    color: #FFF;
}

#container {
    cursor: default;
}

.CodeMirror {
    font-size: 1.2em;
    height: calc(100% - 36px);
}